@import '../../../scss/settings/fonts';

.organizations {
  width: 1350px;
  .organizations__info {
    margin: 0 auto 66px auto;
    max-width: 600px;
    font-size: 1.375rem;
    line-height: 30px;
    text-align: center;
  }
  .organizations__container {
    .organizations__row {
      border-bottom: 1px solid black;
      margin-bottom: 30px;
      &:last-of-type {
        border-bottom: none;
      }
    }
    h3 {
      font-family: $font-alt;
      font-size: 1.625rem;
      font-weight: 300;
      line-height: 31px;
    }
    p {
      font-family: $font-alt;
      font-size: 1.125rem;
      line-height: 22px;
      margin-bottom: 30px;
      font-weight: 300;
      font-style: italic;
    }
    .organizations__details {
      font-style: normal;
      margin: auto 0;
    }
  }
}