@import "../../scss/settings/colors";
@import "../../scss/settings/mixins";

.signup__container {
  @include signContainer();
  @include tablet() {
    margin: 200px auto;
  }
  h2 {
    @include header() {
    }
  }
  img {
    margin-bottom: 30px;
  }
  .signup__form {
    @include signForm();
    .signup__buttons {
      display: flex;
      justify-content: space-between;
      button {
        width: 150px;
      }
    }
  }
}