@import "../../scss/settings/mixins";

.hero__container--mobile {
  text-align: center;
  .hero_title--mobile {
    font-size: 1.15rem;
    margin-bottom: 30px;
  }
  .hero__para--mobile {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 15px;
    span {
      font-size: 1.5rem;
    }
  }
  .hero__btn--mobile {
    display: flex;
    justify-content: flex-end;
    button {
      padding: 0.75rem;
      width: 150px;
    }
  }
}

.hero__container {
  display: none;
}

@include desktop() {
  .jumbotron {
    display: none;
  }
  .hero__container {
    max-width: 1850px;
    position: relative;
    top: -50px;
    display: block;
    .hero__image {
      background-image: url("../../assets/Home-Hero-Image.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      height: 70vh;
      z-index: -1;
    }
    .hero__action {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      h1 {
        @include header() {
          margin-bottom: 20px;
        }
      }
      img {
        margin-bottom: 65px;
      }
      .hero__buttons {
        display: flex;
        justify-content: space-evenly;
        button {
          width: 230px;
          padding: 1rem 3.5rem;
        }
      }
    }
  }
}


