::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3C3C3C26;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #3C3C3C26;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #3C3C3C26;
}

.contact-form {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  label {
    font-weight: 600;
  }
  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 12px;
    padding-bottom: 5px;
  }
  textarea {
    border: none;
    border-bottom: 1px solid black;
    margin-top: 12px;
    resize: none;
  }
  .contact-form__user {
    display: flex;
    justify-content: space-between;
  }
  .contact-form__name {
    width: calc(50% - 8px);
  }
  .contact-form__email {
    width: calc(50% - 8px);
  }
  button {
    width: 150px;
    align-self: flex-end;
  }
}
.error-message {
  position: relative;
  top: -1px;
  padding-top: 3px;
  font-size: 0.8rem;
  height: 40px;
  color: red;
}