@import "../../../../scss/settings/mixins";

.give-away__step-three {
  form {
    margin-bottom: 20px;
  }
  .step-three__form {
    select {
      font-size: 1rem;
      @include desktop() {
        font-size: 1.25rem;
        margin-bottom: 40px;
      }
    }
    label {
      @include mobileGiveAwayHeader() {
        margin-bottom: 20px;
        @include desktop() {
          @include desktopGiveAwayHeader();
        }
        }
    }
  }
  h3 {
    @include mobileLabelFont() {
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 15px;
    }
    @include desktop() {
      @include desktopLabelFont() {
        font-weight: 600;
      }
    }
  }
  .step-three__checkbox {
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    min-height: 2.5rem;
    padding-left: 2.5rem;
    @include desktop() {
      font-size: 24px;
      margin-bottom: 10px;
    }
    label {
      &::before, &::after {
        top: 0.45rem;
        left: -2.5rem;
        width: 1.35rem;
        height: 1.35rem;
      }
    }
  }
  select {
    max-width: 300px;
  }
  p {
    @include errorMessage() {
      margin-top: 5px;
    }
      @include desktop() {
        font-size: 18px;
      }
  }
  .give-away__step-three--optional {
    width: 300px;
    height: 35px;
  }
  button {
    @include mobileBtn();
    margin-right: 50px;
    &:last-of-type {
      margin-right: 0;
      @include desktop() {
        left: 380px;
      }
    }
    @include desktop() {
      @include desktopBtn();
    }
  }
}