@mixin tablet() {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin header() {
  font-size: 2.375rem;
  line-height: 55px;
  letter-spacing: -0.76px;
  @content;
}
