@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.give-away__warning {
  width: 100%;
  background-color: $columnsColor;
  padding: 20px 15px;
  @include desktop() {
    padding: 30px 70px;
    height: 180px;
    display: flex;
    align-items: center;
  }
  @include xl() {
    position: relative;
    top: -120px;
  }

  .give-away__warning--container {
    max-width: 1600px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    @include desktop() {
      font-size: 36px;
      line-height: 32px;
      text-align: left;
    }
  }

  p {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    @include desktop() {
      font-size: 22px;
      text-align: left;
    }
  }
}