@import "../../scss/settings/mixins";

.associations__desktop {
  display: none;
}

.associations__mobile {
  text-align: center;
  h2 {
    @include header() {
      margin: 70px 0 20px 0;
    }
  }
  img {
    margin-bottom: 50px;
  }
  .associations__mobile--buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
    button {
      width: 110px;
      line-height: 20px;
      font-size: 0.85rem;
      padding: .5rem 0.25rem
    }
  }
}

@include tablet() {
  .associations__mobile {
    .associations__mobile--buttons {
      display: flex;
      justify-content: space-evenly;
      button {
        width: 175px;
        line-height: 20px;
        font-size: 1rem;
        padding: .75rem 0.5rem
      }
    }
  }
}

@include desktop() {
  .associations__mobile {
    display: none;
  }

  .associations__desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
    position: relative;
    top: -100px;
    h2 {
      @include header() {
        margin: 70px 0 20px 0;
      }
    }
    img {
      margin-bottom: 50px;
    }
    .associations__desktop--buttons {
      display: flex;
      justify-content: space-between;
      width: 700px;
      margin-bottom: 80px;
      button {
        width: 208px;
        line-height: 20px;
        font-size: 24px;
        padding: 1.25rem 1rem;
      }
    }
  }
}