@import "../../../../scss/settings/mixins";

.give-away__step-two {
  h2 {
    @include mobileGiveAwayHeader();
    margin-bottom: 45px;
    @include desktop() {
      @include desktopGiveAwayHeader();
    }
  }
  .step-two__form {
    display: flex;
    max-width: 550px;
    justify-content: space-between;
    margin-bottom: 50px;
    select {
      font-size: 1rem;
      @include desktop() {
        font-size: 1.25rem;
      }
    }
    label {
      @include mobileLabelFont() {
        line-height: 32px;
        width: 220px;
      }
      @include desktop() {
        @include desktopLabelFont();
      }
    }
    select {
      width: 300px;
    }
  }
  p {
    @include errorMessage();
    margin-bottom: 10px;
    @include desktop() {
      font-size: 18px;
    }
  }
    button {
      @include mobileBtn();
      margin-right: 50px;
      &:last-of-type {
        margin-right: 0;
        @include desktop() {
          left: 380px;
        }
      }
      @include desktop() {
        @include desktopBtn();
      }
    }
}