.give-away__step-two {
  h2 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .step-two__form {
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    label {
      font-size: 24px;
      line-height: 32px;
      font-weight: 300;
      width: 220px;
    }
    select {
      width: 300px;
    }
  }
  button {
    width: 180px;
    position: absolute;
    bottom: 50px;
    padding: 1.5rem 3rem;
    &:last-of-type {
      left: 380px;
    }
  }
}