@import "../../../scss/settings/mixins";
@import "../../../scss/settings/colors";

.hero__container--mobile {
  padding: 2rem 1rem;
  text-align: center;
  background-color: $background;
  h1 {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .hero__para--mobile {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: left;
    padding: 0 0.75rem;
    span {
      font-size: 1.5rem;
    }
  }
  .hero__btn--mobile {
    display: flex;
    justify-content: flex-end;
    button {
      padding: 0.75rem;
      width: 150px;
    }
  }
}

.hero__container--desktop {
  display: none;
}
@include desktop() {
  .hero__container--mobile {
    display: none;
  }
  .hero__container--desktop {
    max-width: 1900px;
    position: relative;
    top: -100px;
    display: block;
    .hero__image {
      background-image: url("../../../assets/Home-Hero-Image.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      height: 70vh;
      z-index: -1;
    }
    .hero__action {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      h1 {
        @include header() {
        }
      }
      img {
        margin-bottom: 65px;
      }
      .hero__buttons {
        width: 650px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        button {
          @include mainBtn()
        }
      }
    }
  }
}


