@import '../../scss/settings/mixins';

.footer__container {
  max-width: 1850px;
  .footer__img {
    background-image: url("../../assets/Background-Contact-Form.jpg");
    height: 80vh;
    background-color: #fff;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 200px;
    h2 {
      @include header() {

      }
    }
    .success-message {
      width: 260px;
      text-align: center;
      color: green;
      font-weight: 600;
      line-height: 20px;
      margin: 20px 0 20px 0;
    }
  }
}