@import '../../scss/settings/mixins';
@import "../../scss/settings/variables";

.footer__img {
  display: none;
  @include xl() {
    display: block;
    background: url("../../assets/Background-Contact-Form.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    opacity: 0.2;
  }
}
.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  margin: 0 auto;
  h2 {
    @include header() {
      margin-top: 100px;
    }
  }
  .success-message {
    width: 260px;
    text-align: center;
    color: green;
    font-weight: 600;
    line-height: 20px;
    margin: 20px 0 20px 0;
  }
}

@include desktop() {
  footer {
    position: relative;
    .container {
      max-width: 1900px;
      .footer__form {
        padding-top: 30px;
      }
    }
  }
}