.give-away__step-three {
  .step-two__form {
    label {
      font-size: 36px;
      line-height: 45px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin: 58px 0 20px 0;
  }
  select {
    width: 300px;
  }
  .give-away__step-three--optional {
    width: 550px;
  }
  button {
    width: 180px;
    position: absolute;
    bottom: 50px;
    padding: 1.5rem 3rem;
    &:last-of-type {
      left: 380px;
    }
  }
}