@import "../../../../scss/settings/mixins";

.give-away__thank-you {
  display: flex;
  flex-direction: column;
  height: 30vh;
  padding: 30px 10px;
  @include desktop() {
    max-width: 700px;
    margin-top: 180px;
  }
  h3 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    margin: 30px 0 20px 0;
    text-align: center;
    @include desktop() {
      font-size: 40px;
      line-height: 55px;
      font-weight: 300;
    }
  }
}