.give-away__thank-you {
  width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    margin-top: 300px;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 55px;
    font-weight: 300;
    text-align: center;
  }
  img {
  }
}