@import "../../../../scss/settings/mixins";

.give-away__step-one {
  h2 {
    @include mobileGiveAwayHeader();
    margin-bottom: 45px;
    @include desktop() {
      @include desktopGiveAwayHeader();
    }
  }
  button {
    @include mobileBtn();
    @include desktop() {
      @include desktopBtn();
    }
  }
  label {
    @include mobileLabelFont();
    margin-bottom: 25px;
    @include desktop() {
      @include desktopLabelFont() {
        margin-bottom: 45px;
      }
    }
  }
  p {
    @include errorMessage() {
      margin-bottom: 10px;
    }
    @include desktop() {
      font-size: 18px;
    }
  }
}
