
.give-away__step-one {
  h2 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  button {
    position: absolute;
    bottom: 50px;
    padding: 1.5rem 3rem;
  }
  label {
    font-size: 24px;
    margin-bottom: 50px;
  }
  p {
    color: red;
  }
}

