@import "../../scss/settings/mixins";
@import "../../scss/settings/colors";

.login__container {
  @include signContainer();
  @include tablet() {
    margin: 200px auto;
  }
  h2 {
    @include header();
  }
  img {
    margin-bottom: 30px;
  }
  .login__form {
    @include signForm();
    .login__buttons {
      display: flex;
      justify-content: space-between;
      button {
        width: 150px;
        align-self: center;
      }
    }
  }
}