@import "reset";
@import "./settings/fonts";
@import "./settings/colors";
@import "./settings/mixins";

body {
  padding-top: 56px;
  font-family: $font-base;
  @include desktop() {
    padding-top: 0;
  }
}