@import "../../../../scss/settings/mixins";

.give-away__summary {
  h2 {
    @include mobileGiveAwayHeader();
    margin-bottom: 25px;
    @include desktop() {
      @include desktopGiveAwayHeader() {
        margin-bottom: 40px;
      }
    }
  }
  h3 {
    @include mobileLabelFont() {
      font-weight: 600;
      margin-bottom: 40px;
    }
    @include desktop() {
      @include desktopLabelFont() {
        font-weight: 600;
      }
    }
  }
  .give-away__summary--gives {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
      margin-right: 15px;
    }
  }
  .give-away__summary--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet() {
      width: 500px;
    }
    @include desktop() {
      flex-direction: row;
      width: 900px;
    }
    .give-away__summary--address, .give-away__summary--term {
      font-size: 18px;
      line-height: 22px;
      font-weight: 300;
      @include desktop() {
        font-size: 24px;
        line-height: 32px;
        margin-top: 20px;
        margin-bottom: 40px;
        width: 400px;
      }
      .row {
        margin-bottom: 15px;
        @include desktop() {
          margin-bottom: 25px;
        }
      }
    }
  }
  button {
    @include mobileBtn();
    margin-right: 50px;
    &:last-of-type {
      margin-right: 0;
      @include desktop() {
        left: 380px;
      }
    }
    @include desktop() {
      @include desktopBtn();
    }
  }
}